:root {
  --primary-color: rgb(52, 100, 48);
  --secondary-color: rgb(40, 77, 44);
  --color: #fff;
  --speed: 0.4s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Yusei Magic', sans-serif;
  line-height: 1.4;
  color: var(--color);
}

#main-header {
 background: var(--primary-color);
padding: 1rem 2rem;
}

.box-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 20vh;
}
/* timelien body styling */
#timeline-events ul{
  background: var(--secondary-color);
  margin: auto;
  padding: 4rem 0;
}
/* creating a line */
#timeline-events ul li {
  list-style: none;
  padding-top: 4rem;
  background: var(--color);
  width: 6px;
  position: relative;
  margin: auto;
}

/* creating boxes */

#timeline-events ul li div {
  position: relative;
  bottom: 0;
  background: var(--primary-color);
  width: 400px;
  height: 100%;
  padding: 30px;
  transition: all var(--speed) ease-in-out;
}

/* Make boxes go right and left */
/* Right side */
#timeline-events ul li:nth-child(even) div {
  left: 40px;
  border-radius: 19px 50% 50% 19px;
}

/* Left side */
#timeline-events ul li:nth-child(odd) div{
  left: -430px;
  border-radius: 19px 50% 50% 19px;
}

/* Creating the dots */
#timeline-events ul li::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 30%;
  background: var(--primary-color);
  border-radius: 50%;
  padding: 14px;
  transform: translateX(-50%);
  transition: all var(--speed) ease-in-out;
}